.card {
  background-color: lightgray;

  /* trick to create space between items (setting a margin fails) */
  border: 10px solid white;
}

.jumbotron {
  padding: 10px;
}

.fas {
  margin-right: 5px;
}