.card {
  background-color: lightgray;

  /* trick to create space between items (setting a margin fails) */
  /* use same color as backgroundcolor */
  border: 10px solid lightblue;
}

.jumbotron {
  padding: 10px;
}

.fas {
  margin-right: 5px;
}

body {
  background-color: lightblue;
}

/* ---------------------------------------------- */

.form-control {
  width: 66%;
}

.btn-primary {
  width: 33%;
}

.flex {
  display: flex;
  flex-direction: row;
}